* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: "Comic Sans MS", cursive, sans-serif;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select:none;
	-ms-user-select:none;
}

body {
	margin: 0;
	background: linear-gradient(to right, #33ccff 1%, #ff99cc 100%);

}

#canvas {
	display: block;
	background-color: white;
	position: absolute;
	top: 5px;
	left: 5px;
	box-shadow: 2px 3px 3px blue;
	border-radius: 10px;
	cursor: crosshair;
}
#toolbar {
	width: 160px;
	height: 60px
	padding: 10px;
	padding-left: 15px;
	position: fixed;
	top: 130px;
	left: 1070px;
	background-color: #4d004d;
	color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 1px orange;
	cursor: pointer;

}
#colors{
	position: absolute;
	top: 180px;
	left: 1100px;
	border-radius: 10px;
}

#set {
	position: absolute;
	top: 200px;
	left: 1040px;
	
}

#set button{
	background-color: #4d004d;
	width: 50px;
	color: #ffffff;
	border-radius: 50%;
	
}

#box {
	width: 200px;
	height: 300px;
	float: right;
	margin-right: 70px;
	margin-top: 300px;
	border-radius: 10px;
	background-color: blue;
}

#Clear{
	text-decoration: none;
	font-size: 15px;
	color: #ffffff;
	text-shadow: 1px 2px 3px #990000;
	margin: 20px;
  margin-top: 20px;
}

#erase{
	text-decoration: none;
	font-size: 15px;
	color: #ffffff;;
	text-shadow: 1px 2px 3px #990000;
	margin: 20px;
}

#save{
	font-size: 15px;
	color: #ffffff;
	text-shadow: 1px 2px 3px #990000;
	margin: 20px;
	text-decoration: none;
}


.radctrl {
	width: 30px;
	height: 30px;
	background-color: #4f4f4f;
	display: inline-block;
	text-align: center;
	padding: 5px;
}


h1 {
	position: absolute;
	top: 5px;
	left: 1010px;
	font-size: 50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #543979;
	box-shadow: 2px 3px 3px blue;
	text-shadow: 1px 2px 3px #990000
}
button {
	cursor: pointer;
	margin: 20px;
	background-color: #4d004d;
	box-shadow: 2px 1px 3px black;
	border-radius: 20px;
	width: 118px;
	height: 35px;

}

button:hover {
	 background-color: #990073;
}
footer {
	position: relative;
	top: 600px;
	text-align: center;
	text-shadow: #EEEE00 0 0 10px;
}


/* media queries for mobile*/

@media screen and (max-width: 768px) {
	canvas {
		width: 300px;
		height: 400px;
	}

	.col-4 {
		width: 100%
	}
}